@import '../../../config/variables/style.sass'

.container
  background: $backgroundColor
  padding: 0 10px
  border-top: 1px $borderColor solid
  position: fixed
  bottom: 0
  width: 100%
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))

.content
  max-width: $breakpoint
  margin: auto
  height: $navHeight
  text-align: center
  display: flex
  justify-content: space-around
  align-items: center

.icon
  color: $primaryColor
  font-size: 40px
